* {
  margin: 0 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}


/** NAV BAR **/

header {
  display: flex;
  height: 100px;
  position: absolute;
}

.nav{
  display: flex;
}

.left {
  width: 25%;
  display: flex;
}

.left a {
  color: #120f0f;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}

.right {
  display: flex;
  margin-right: 10px;
}

.right-left {
  width: 25%;
  display: flex;
}

.right-right {
  display: flex;
}

.right-right a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: #120f0f;
  letter-spacing: -0.8px;
}

.right-right a:hover{
  color:black;
  transform: scale(1.1);
}


/** NAV BAR END **/

/** CLUBS **/


.homepage-content-clubs {
  height: 100%;
  display: flex;
  background-color: #eae6e7;
}


.homepage-content-clubs-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 100%;
}

@media (max-width: 700px){
.homepage-content-clubs h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #120f0f;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 40px;
  font-size: 20px;
}}

@media (min-width: 700px){
.homepage-content-clubs h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #120f0f;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 40px;
  font-size: 30px;
}}

.clubs-cards-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

@media (min-width: 700px){
.clubs-cards-text-box {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 50px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }

}


@media (max-width: 700px){
.clubs-cards-text-box {
    display: flex;
    flex-direction: column;
    width: 75%;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 30px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

  }
}

@media (min-width: 700px){
.clubs-cards h4{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  flex-wrap: wrap;
  color: #120f0f;
  height: 20%;
}}

@media (max-width: 700px){
.clubs-cards h4{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  flex-wrap: wrap;
  color: #120f0f;
  width: 100px;
}}

.clubs-cards p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  flex-wrap: wrap;
  color: #120f0f;
  width: 100px;
}

@media (max-width: 700px) {
  .clubs-cards {
      background-color:  white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 120px;
      height: 150px;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 5px;

  }
}

@media (min-width: 700px) {
  .clubs-cards {
      background-color:  white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 150px;
      height: 150px;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 5px;

  }
}

.clubs-cards a{
  color: #120f0f;
  display: flex;
  justify-content: center;
  align-items: center;
}


/** CLUBS ON END **/




/** Footer **/

footer {
  height: 100px;
  background-color: #eae6e7;
  display: flex;

}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #120f0f;
}

@media (max-width: 1000px) {
footer p {
  font-size: 8px;
}



/** Footer END **/
